$theme-colors: (
  primary:#6181E8,
  info: #41AC9A
);

@import "~bootstrap/scss/bootstrap.scss";

.card {
  @extend .card;
  border-radius: 25px;
}

.card-data-form {
  background-color: #9cb0f2;
}

.btn {
  @extend .btn;
  @extend .px-4;
  border-radius: 8px;
}

.dotted {
  border-top: dotted;
}

.hide-md {
  display: block;
}

@media (max-width: 992px) {
  .hide-md {
    display: none;
  }
}

.link {
  color: #6181E8;
  border-bottom: #6181E8;
  cursor: pointer;
}

.background-table {
  background-color: white;
  border-radius: 10px;
}

.background-table::-webkit-scrollbar {
  width: 10px;   
}

.background-table::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.background-table::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.background-table::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}


.max-size {
  max-height: 300px;
  overflow-y: auto;
}

.cellSelected {
  background-color: #d4daee;
}

.selectable {
  cursor: pointer;
}